{% extends 'mainapp/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>{{ title }}</h1>
        </div>
        <form method="post" id="id_form">
            {% if error %}
                <div class="frorm-group">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Помилка! </strong> <span>{{ error }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Имя</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Почта</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.phone.id_for_label }}">Номер телефона</label>
                {{ form.phone }}
            </div>
            <div class="form-group">
                <label for="{{ form.phone.id_for_label }}" class="form-label">Комментарий</label>
                {{ form.comment }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Отправить</button>
            </div>
        </form>

    </div>
{% endblock %}