{% extends 'mainapp/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>{{ title }}</h1>
        </div>

        <table class="table">
            {#        <table class="table" th:if="${existsAll}">#}
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Имя</th>
                <th scope="col">Почта</th>
                <th scope="col">Телефон</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Статус</th>

                <th scope="col" colspan="2">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for r in reportUsers %}
                <tr {% if r.processed %} class="table-active" {% endif %}>
                    <td>{{ r.id }}</td>
                    <td>{{ r.name }}</td>
                    <td>{{ r.email }}</td>
                    <td>{{ r.phone }}</td>
                    <td>{{ r.comment }}</td>
                    <td>{% if r.processed %} Обработанна {% else %} Необработанна {% endif %}</td>
                    {% if not r.processed %}
                        <td>
                            <a class="text-dark" href="{% url 'processed_report_from_user' reportuser_id=r.id %}"
                               id="processed_report_from_user">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor"
                                     class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                                    <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                                    <path fill-rule="evenodd"
                                          d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </a>
                        </td>
                    {% endif %}
                    <td>
                        <a class="text-dark" href="{% url 'delete_report_from_user' reportuser_id=r.id %}"
                            id="delete_report_from_user">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor"
                                 class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                                <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                                <path fill-rule="evenodd"
                                      d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}