<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} </title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% include 'mainapp/blocks/header.html' %}
{% block content %}
{% endblock %}
</body>
</html>