<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="my-0 mr-md-auto text-dark navbar-brand" href="/">Тестовое задание</a>

    <nav class="my-2 my-md-0 mr-md-3">
        <a type="button" class="btn btn-success" href="{% url 'create_report_from_user' %}">
            Заявка от обонента
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                <path fill-rule="evenodd"
                      d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
            </svg>
        </a>
    </nav>
</div>
